<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace= "cn.com.neeq.ubs.demo.mapper.StockMapper" >
    <resultMap id="StockInfoMap" type="cn.com.neeq.ubs.demo.model.Stock">
        <id column="id" property="id"/>
        <result column="stock_type" property="type"/>
        <result column="stock_name" property="name"/>
        <result column="english_name" property="englishName"/>
        <result column="isin_code" property="isinCode"/>
    </resultMap>

    <select id = "getAllStocks" resultMap="StockInfoMap">
<!--    <select id = "getAllStocks" resultType= "Stock">-->
        select
            id,
            stock_type,
            stock_name,
            english_name,
            isin_code
        from
            stock
    </select>

<!--    <select id="getStockById" resultType="Stock" parameterType="Integer">-->
    <select id="getStockById" resultMap="StockInfoMap" parameterType="Integer">
        select
            id,
            stock_type,
            stock_name,
            english_name,
            isin_code
        from
            stock
        where
            id=#{id}
    </select>

    <insert id="addStock" parameterType="cn.com.neeq.ubs.demo.model.Stock">
        insert into stock
        values(null, #{type}, #{name}, #{englishName}, #{isinCode})
    </insert>


    <delete id="deleteStock" parameterType="Integer">
        delete from stock
        where id=#{id}
    </delete>

    <update id="updateStock" parameterType="cn.com.neeq.ubs.demo.model.Stock">
        update stock
        set
            stock_type=#{type},
            stock_name=#{name},
            english_name=#{englishName},
            isin_code=#{isinCode}
        where
            id=#{id}
    </update>
</mapper>